<div class="content-padded fondo">
  <div id="banner">
    <center>
    <div id="texto">
      <h2><span class="black" style="font-size: 26px; margin: 0 auto;" id="dias">Configuración</span></h2>
    </div>
    </center>
  </div>
  <div class="card">
      <form>
        <label for="novia">Nombre de la novia</label>
        <input type="text" class="topcoat-text-input center wide" name="novia" id="novia"><br><br>
        <label for="novio">Nombre del novio</label>
        <input type="text" class="topcoat-text-input center wide" name="novio" id="novio"><br><br>
        <label for="lugar">Lugar</label><br>
        <select class="topcoat-text-input center wide black" name="lugar" id="lugar">
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Queretaro">Querétaro</option>
        </select><br><br>
        <label for="fecha">Fecha de la Boda</label><br>
        <input type="date" class="topcoat-text-input center wide black" name="fecha" id="fecha"><br><br>
        <div class="cbCont"><div id="foto-cont" class="center"></div></div>
        <div class="topcoat-button center full" id="getPic-btn">Seleccionar Foto de Portada</div><br>
      </form>
      <script type="text/javascript">
      document.addEventListener("visibilitychange", onVisibilityChangeConfig, false);

    function onVisibilityChangeConfig() {
        if(document.hidden==false && typeof window.localStorage.getItem("foto")!='object'){
          cambiarfoto();
        }
    }

      //Navigation Bar--
      var imageButton = new steroids.buttons.NavigationBarButton();
      
      //DRAWER--
      var googleView = new steroids.views.WebView( { location: "http://localhost/views/drawerExample/drawer.html" } );
      googleView.preload();

      //--DRAWER

      
    //--Navigation Bar

    function cambiarfoto(){
      if (typeof window.localStorage.getItem("foto")=='object'){
        $("#foto-cont").empty();
        $("#foto-cont").append("<p>No hay foto</p>");
      }else{
        $("#foto-cont").empty();
        $("#foto-cont").append("<img id='foto' class='picture' src='"+window.localStorage.getItem('foto')+"'/>");
        $("#foto").attr("src", "data:image/jpeg;base64,"+window.localStorage.getItem("foto"));
      }
       
    }

        $(document).ready(function(){
          rellenarInfo();

          function guardarTodo(){
            window.localStorage.setItem("novio", $("#novio").val());
            window.localStorage.setItem("novia", $("#novia").val());
            window.localStorage.setItem("lugar", $("#lugar").val());
            window.localStorage.setItem("fecha", $("#fecha").val());
            rellenarInfo();

            alert("Información guardada correctamente");

            webView = new steroids.views.WebView("http://localhost/views/drawerExample/home.html");
            steroids.layers.push(webView);
            
          }

          $("#getPic-btn").on("click", function(){
            navigator.camera.getPicture( function(imageData){
              window.localStorage.setItem("foto", imageData);
            }, function(msg){
              alert(msg);
            }, {
              sourceType : Camera.PictureSourceType.PHOTOLIBRARY,
              destinationType : Camera.DestinationType.DATA_URL,
              correctOrientation: true
            });
             //$("#foto").attr("src", "data:image/jpeg;base64,"+window.localStorage.getItem("foto"));
          });

        function rellenarInfo(){
          //Rellena los datos, segun la informacion guardada
          $("#novio").val(window.localStorage.getItem("novio"));
          $("#novia").val(window.localStorage.getItem("novia"));
          $("#lugar").val(window.localStorage.getItem("lugar"));
          $("#fecha").val(window.localStorage.getItem("fecha"));
          cambiarfoto();
        }
        

        var guardarButton = new steroids.buttons.NavigationBarButton();
    guardarButton.title = "Guardar";

    guardarButton.onTap = function (){
      guardarTodo();
    };

    imageButton.imagePath = "/icons/drawer.png"
      imageButton.onTap = function() {
        steroids.drawers.show(googleView);
      }

    // steroids.view.navigationBar.setButtons({
    //    left: [imageButton],
    //   right: [guardarButton],
    //     overrideBackButton: true
    // });
    steroids.view.navigationBar.setButtons({
       left: [],
      right: [guardarButton],
        overrideBackButton: true
    });
        });
      </script>
  </div>    
</div>

