<div class="content-padded fondo">
  <div class="card">
    <h1 class="pink center">Configuración</h1>
      <form>
        <label for="novia">Nombre de la novia</label>
        <input type="text" class="topcoat-text-input center wide" name="novia" id="novia"><br><br>
        <label for="novio">Nombre del novio</label>
        <input type="text" class="topcoat-text-input center wide" name="novio" id="novio"><br><br>
        <label for="lugar">Lugar</label><br>
        <select name="lugar" id="lugar">
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Queretaro">Queretaro</option>
        </select><br><br>
        <label for="fecha">Fecha de la Boda</label><br>
        <input type="date" name="fecha" id="fecha"><br><br>
        <div class="topcoat-button center full" id="getPic-btn">Seleccionar Portada</div><br><br>
        <div class="topcoat-button center" id="save-btn">Guardar</div><br>
      </form>
      <script type="text/javascript">
        $(document).ready(function(){
          $("#save-btn").on("click", function(){
            window.localStorage.setItem("novio", $("#novio").val());
            window.localStorage.setItem("novia", $("#novia").val());
            window.localStorage.setItem("lugar", $("#lugar").val());
            window.localStorage.setItem("fecha", $("#fecha").val());

            alert("Información guardada correctamente");

            webView = new steroids.views.WebView("http://localhost/views/drawerExample/index.html");
            steroids.layers.push(webView);   
          });

          $("#getPic-btn").on("click", function(){
            navigator.camera.getPicture( function(imageData){
              window.localStorage.setItem("foto", imageData);
            }, function(msg){
              alert(msg);
            }, {
              sourceType : Camera.PictureSourceType.PHOTOLIBRARY,
              destinationType : Camera.DestinationType.DATA_URL,
              correctOrientation: true
            });
          });

          //Rellena los datos, segun la informacion guardada
          $("#novio").val(window.localStorage.getItem("novio"));
          $("#novia").val(window.localStorage.getItem("novia"));
          $("#lugar").val(window.localStorage.getItem("lugar"));
          $("#fecha").val(window.localStorage.getItem("fecha"));
        });
      </script>
  </div>    
</div>

