<div class="content-padded">
  <h1>Configuración</h1>
    <form>
      <label for="novia">Nombre de la novia</label>
      <input type="text" name="novia" id="novia">
      <label for="novio">Nombre de la novio</label>
      <input type="text" name="novio" id="novio">
      <label for="lugar">Lugar</label>
      <select name="lugar" id="lugar">
        <option value="San Luis Potosí">San Luis Potosí</option>
        <option value="Queretaro">Queretaro</option>
        <option value="Chiapas">Chiapas</option>
      </select> 
      <label for="fecha">Fecha de la Boda</label>
      <input type="date" name="fecha" id="fecha">
      <div class="topcoat-button center full" id="getPic-btn">Seleccionar imagen de Portada</div>
      <div class="topcoat-button center" id="save-btn">Guardar</div>
    </form>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#save-btn").on("click", function(){
          window.localStorage.setItem("novio", $("#novio").val());
          window.localStorage.setItem("novia", $("#novia").val());
          window.localStorage.setItem("lugar", $("#lugar").val());
          window.localStorage.setItem("fecha", $("#fecha").val());

          alert("Información guardada correctamente");

          webView = new steroids.views.WebView("http://localhost/views/drawerExample/index.html");
          steroids.layers.push(webView);   
        });

        $("#getPic-btn").on("click", function(){
          navigator.camera.getPicture( function(imageData){
            window.localStorage.setItem("foto", imageData);
          }, function(msg){
            alert(msg);
          }, {
            sourceType : Camera.PictureSourceType.PHOTOLIBRARY,
            destinationType : Camera.DestinationType.DATA_URL,
            correctOrientation: true
          });
        });

        //Rellena los datos, segun la informacion guardada
        $("#novio").val(window.localStorage.getItem("novio"));
        $("#novia").val(window.localStorage.getItem("novia"));
        $("#lugar").val(window.localStorage.getItem("lugar"));
        $("#fecha").val(window.localStorage.getItem("fecha"));
      });
    </script>
</div>

