<div class="content-padded fondo">
  <div id="banner">
    <center>
    <div id="texto">
      <h2><span class="black" style="font-size: 26px; margin: 0 auto;" id="dias">Día o tarde</span></h2>
    </div>
    </center>
  </div>

	<div class="topcoat-list">
	  <ul class="topcoat-list__container">
	    <li class="topcoat-list__item" id="li1">
	      <h2>Muy Formal.</h2>
	    </li>
	    <li class="topcoat-list__item" id="li2">
	      <h2>Formal.</h2>
	    </li>
	    <li class="topcoat-list__item" id="li3">
	      <h2>Semi Formal.</h2>
	    </li>
	    <li class="topcoat-list__item" id="li4">
	      <h2>Relajado.</h2>
	    </li>
	  </ul>
	</div>
</div>
<script>
	$(document).ready(function(){
		$("#li1").on('click',function(){
			webView = new steroids.views.WebView('http://localhost/views/drawerExample/d-muyformal.html');
			steroids.layers.push(webView);
		});
		$("#li2").on('click',function(){
			webView = new steroids.views.WebView('http://localhost/views/drawerExample/d-formal.html');
			steroids.layers.push(webView);
		});
		$("#li3").on('click',function(){
			webView = new steroids.views.WebView('http://localhost/views/drawerExample/d-semiformal.html');
			steroids.layers.push(webView);
		});
		$("#li4").on('click',function(){
			webView = new steroids.views.WebView('http://localhost/views/drawerExample/d-relajado.html');
			steroids.layers.push(webView);
		});
	});
</script>