<div class="content-padded fondo" style="max-height:568px;min-height:480px">

    
  <div id="banner">
  <center>

  <div id="texto">
    <h2><span class="black" style="font-size: 26px; margin: 0 auto;" id="dias">Faltan XXX días</span></h2>
  </div>
  
  </center>
  </div>
    <center><img id="foto" class="picture" src=""/><br></center>
  <br/>

  <div class="card">   
    <center><h3><span class="black">para la boda de</span></h3></center>
    <center><h2><span class="black" id="novios">Juan y Juana</span></h2></center>
    <center><h2><span class="black" id="lugar">San Luis Potosí</span></h2></center>
    <br>

    <script type="text/javascript">

      if(window.localStorage.getItem("init") == null){
        var webView = new steroids.views.WebView("http://localhost/views/drawerExample/config_modal_screen.html");
        steroids.modal.show(webView);   
      }

      $(document).ready(function(){
        //Rellena los datos, segun la informacion guardada 
        $("#novios").text(window.localStorage.getItem("novia") + " y " + window.localStorage.getItem("novio"));
        $("#lugar").text("en " + window.localStorage.getItem("lugar"));
        $("#foto").attr("src", "data:image/jpeg;base64,"+window.localStorage.getItem("foto"));
        stampWedding = new Date(window.localStorage.getItem("fecha")).getTime();
        stampToday = new Date().getTime();
        seconds = stampWedding - stampToday;
        $("#dias").text("Faltan "+Math.round(seconds/86400000)+" días");
      });

    </script>
  </div>    
</div>