<div class="content-padded fondo" style="max-height:568px;min-height:480px">

    
  <div id="banner">
  <center>

  <div id="texto">
    <h2><span class="black" style="font-size: 26px; margin: 0 auto;" id="dias">Faltan XXX días</span></h2>
  </div>
  
  </center>
  </div>
    <div id="foto-cont" class="center"></div>
  <br/>

  <div class="card">   
    <center><h3><span class="black">para la boda de</span></h3></center>
    <center><h2><span class="black" id="novios">Juan y Juana</span></h2></center>
    <center><h2><span class="black" id="lugar">San Luis Potosí</span></h2></center>

    <script type="text/javascript">
    steroids.drawers.hideAll();
    var googleView = new steroids.views.WebView( { id:1, location: "http://localhost/views/drawerExample/drawer.html" } );
    var drawerIsOpen = false;

      googleView.preload({},{
         onSuccess: initGesture  // When the view has loaded, enable finger tracking
        }
      );

    document.addEventListener("visibilitychange", onVisibilityChange, false);

    function onVisibilityChange() {
        if(document.hidden==false){
          window.location.reload();
          steroids.drawers.enableGesture(googleView);
          // alert('disponible drawer home');
        }
        if(document.hidden==true){
          steroids.drawers.hideAll();
          steroids.drawers.disableGesture(googleView);
        }
    }


    //Navigation Bar--
      var imageButton = new steroids.buttons.NavigationBarButton();
      var imageButton2 = new steroids.buttons.NavigationBarButton();

      function initGesture() {
        steroids.drawers.enableGesture(googleView);
      }

      //--DRAWER

      imageButton.imagePath = "/icons/drawer.png"
      imageButton2.imagePath = "/icons/drawer.png"

      imageButton.onTap = function() {
        if(drawerIsOpen==false){
          steroids.drawers.show(googleView);
          steroids.view.navigationBar.setButtons({
            left: [imageButton2],
            overrideBackButton: true
          });
          steroids.drawers.disableGesture(googleView);
          drawerIsOpen=true;
        }
      }
      imageButton2.onTap = function() {
        if(drawerIsOpen==true){
          steroids.drawers.hide(googleView);
          steroids.view.navigationBar.setButtons({
            left: [imageButton],
            overrideBackButton: true
          });
          steroids.drawers.enableGesture(googleView);
          drawerIsOpen=false;
        }
      }

      steroids.view.navigationBar.setButtons({
        left: [imageButton],
        overrideBackButton: true
      });
      
    //--Navigation Bar


      if(window.localStorage.getItem("init") == null){
        var webView = new steroids.views.WebView("http://localhost/views/drawerExample/welcome.html");
        steroids.modal.show(webView);   
      }

      $(document).ready(function(){
        //Rellena los datos, segun la informacion guardada 
        $("#novios").text(window.localStorage.getItem("novia") + " y " + window.localStorage.getItem("novio"));
        $("#lugar").text("en " + window.localStorage.getItem("lugar"));
        if (typeof window.localStorage.getItem("foto")=='object'){
          $("#foto-cont").append("<button id='agregar-foto' class='topcoat-button b100' type='button' value='Tips'>Agrega tu foto</button>");
        }else{
          $("#foto-cont").append("<img id='foto' class='picture' src='"+window.localStorage.getItem('foto')+"'/>");
        }
        $("#foto").attr("src", "data:image/jpeg;base64,"+window.localStorage.getItem("foto"));
        stampWedding = new Date(window.localStorage.getItem("fecha")).getTime();
        stampToday = new Date().getTime();
        seconds = stampWedding - stampToday;
        $("#dias").text("Faltan "+Math.round(seconds/86400000)+" días");

        $("#agregar-foto").on("click", function(){
          // steroids.layers.replace({view: configView});
          var configView = new steroids.views.WebView("http://localhost/views/drawerExample/config_screen.html");
          steroids.layers.push(configView);
        });
      });

    </script>
  </div>    
</div>