<script>

  // Listen for window.postMessage() messages that drawer sends us

  window.addEventListener("message", function(msg) {
    var elem = document.querySelector("#selectedInDrawer");
    elem.textContent = msg.data.selection;
  });

  // Initialize the left drawer

  var leftDrawer = new steroids.views.WebView("/views/drawerExample/drawer.html");

  leftDrawer.preload({},{
    onSuccess: initGesture  // When the view has loaded, enable finger tracking
  });

  function initGesture() {
    steroids.drawers.enableGesture(leftDrawer);
  }


  // Helper functions

  function openDrawer() {
    steroids.drawers.show(leftDrawer);
  }

  steroids.view.navigationBar.show("Bride2Be");
</script>


<div class="content-padded">
  <h1>Configuración</h1>
    <form>
      <label for="novia">Nombre de la novia</label>
      <input type="text" name="novia" id="novia">
      <label for="novio">Nombre de la novio</label>
      <input type="text" name="novio" id="novio">
      <label for="lugar">Lugar</label>
      <select name="lugar" id="lugar">
        <option>San Luis Potosí</option>
      </select> 
      <label for="fecha">Fecha de la Boda</label>
      <input type="datetime-local" name="fecha" id="fecha">
      <input class="topcoat-button--large" type="button" value="Seleccionar imagen de Portada">
      <input class="topcoat-button" type="button" value="Seleccionar imagen de Portada">
    </form>
  </div>
</div>

