<div class="content-padded">
  <img id="foto" src="" width="100%"/>
  <span id="dias">Faltan XXX días</span>
  <span>para la boda de</span>
  <span id="novios">Juan y Juana</span>
  <span id="lugar">San Luis Potosí</span>
  <script type="text/javascript">

    if(window.localStorage.getItem("init") == null){
      var webView = new steroids.views.WebView("http://localhost/views/drawerExample/config_modal_screen.html");
      steroids.modal.show(webView);   
    }

    $(document).ready(function(){
      //Rellena los datos, segun la informacion guardada 
      $("#novios").text(window.localStorage.getItem("novio") + " y " + window.localStorage.getItem("novia"));
      $("#lugar").text("en " + window.localStorage.getItem("lugar"));
      $("#foto").attr("src", "data:image/jpeg;base64,"+window.localStorage.getItem("foto"));
      stampWedding = new Date(window.localStorage.getItem("fecha")).getTime();
      stampToday = new Date().getTime();
      seconds = stampWedding - stampToday;
      $("#dias").text("Faltan "+Math.round(seconds/86400000)+" días");
    });

  </script>
</div>
