<img src="/images/liverpool-header.jpg" id='liverpool-header' width="100%">
<div class="content-padded" style="background:white">
	<div class="cbCont">
		<h1>Burro para planchar</h1>
		<p>Fulanito Detal</p>
		<p>Pagado</p>
	</div>
	<div class="cbCont">
		<h1>Cafetera</h1>
		<p>Juan Perez</p>
		<p>Pagado</p>
	</div>
	<div class="cbCont">
		<h1>Licuadora</h1>
		<p>Selena Gómez</p>
		<p>Apartado</p>
	</div>
	<div class="cbCont">
		<h1>Batidora</h1>
		<p>Carlos Gonzalez</p>
		<p>Pagado</p>
	</div>
</div>