<div class="content-padded fondo">
  <div id="banner">
    <center>
    <div id="texto">
      <h2><span class="black" style="font-size: 26px; margin: 0 auto;" id="dias">Mis Proveedores</span></h2>
    </div>
    </center>
  </div>
    <div class="card">
      <h2>Ceremonia Religiosa y Civil</h2>
      
    </div>
    <div class="card">
      <h2>Recepción y Banquetes</h2>
      
    </div>
    <div class="card">
      <h2>Invitaciones</h2>      
      
    </div>
    <div class="card">
      <h2>Música</h2>      
      
    </div>
    <div class="card">
      <h2>Flores, Decoración y Coordinación</h2>      
      
    </div>
    <div class="card">
      <h2>Iluminación y mobiliario</h2>
      
    </div>
    <div class="card">
      <h2>Foto y video</h2>      
      
    </div>
    <div class="card">
      <h2>Ambientacion y más</h2>      
      
    </div>
    <div class="card">
      <h2>El y ella</h2>      
      
    </div>
    <div class="card">
      <h2>Maquillaje, peinado y spa</h2>      
      
    </div>
    <div class="card">
      <h2>Luna de miel</h2>      
      
    </div>
    <div class="card">
      <h2>Mesa de regalos y hogar</h2>      
      
    </div>
</div>

