<div class="content-padded fondo">
	<div class="notes-titles center">
      <h2>Notas: Hoteles y Luna de Miel</h2>
    </div>

	<div class="card">
		<div class="card-titles"><h2>Check list – luna de miel</h2></div>
  		<div class="cbCont">
			<p>Te ayudamos con un checklist en el cual está todo lo que necesitarás llevar a tu luna de miel. Revísala y prepara lo que necesitas llevar con tiempo. Esto te evitará inconvenientes de última hora.</p><br />
		</div>
		<form>
		<div class="card-titles"><h3>Indispensable</h3></div>
		<div class="cbCont">
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="boletos" id="cbNluna1" for="boletos"> Boletos aéreos o confirmación de boleto electrónico</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="pasaporte" id="cbNluna2"><label for="pasaporte"> Pasaporte con visas requeridas</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="tarjetas" id="cbNluna3"><label for="tarjetas"> Tarjetas de crédito</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="reservacion" id="cbNluna4"><label for="reservacion"> Reservación de hoteles con números de confirmación</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="dinero" id="cbNluna5"><label for="dinero"> Dinero en efectivo</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="seguro" id="cbNluna6"><label for="seguro"> Tarjeta y datos de tu seguro médico y seguro de viajes</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="pais" id="cbNluna7"><label for="pais"> Números de contacto en el país al que vas.</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="licencia" id="cbNluna8"><label for="licencia"> Licencia de conducir y documentos de identidad</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="copias" id="cbNluna9"><label for="copias"> Copias de los documentos mencionados anteriormente, por si se te pierden</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="telefonos" id="cbNluna10"><label for="telefonos"> Teléfono de tu doctor, y de las compañías de tus tarjetas de crédito (en caso que se te pierdan o te las roben)</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="medicinas" id="cbNluna11"><label for="medicinas"> Medicinas que tomas (en empaque original)</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="candado" id="cbNluna12"><label for="candado"> Candados (de preferencia con combinación), y viñetas con nombre para tu equipaje (adentro y arriba)</label><br />
		<br />
</div>
		<div class="card-titles"><h3>Para ella:</h3></div>
		<div class="cbCont">
		<p>(Necesario para una semana, puede variar dependiendo del destino, o la temporada)</p>

			<input type="checkbox" class="topcoat-checkbox__checkmark" name="jeans" id="cbNluna13"><label for="jeans"> Par de jeans o pantalones</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="chaqueta" id="cbNluna14"><label for="chaqueta"> Chaqueta</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="vestido" id="cbNluna15"><label for="vestido"> Vestido corto</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="vestidoform" id="cbNluna16"><label for="vestidoform"> Vestido formal negro</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="sweater" id="cbNluna17"><label for="sweater"> Sweater</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="camisas" id="cbNluna18"><label for="camisas"> Camisas o camisetas</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="shorts" id="cbNluna19"><label for="shorts"> Shorts</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="trajebanio" id="cbNluna20"><label for="trajebanio"> Traje de baño</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="tenis" id="cbNluna21"><label for="tenis"> Par de zapatos informales</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="zapatos" id="cbNluna22"><label for="zapatos"> Par de zapatos formales</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="calcetines" id="cbNluna23"><label for="calcetines"> Calcetines</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="interior" id="cbNluna24"><label for="interior"> Ropa interior</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="accesorios" id="cbNluna25"><label for="accesorios"> Accesorios</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="dormir" id="cbNluna26"><label for="dormir"> Ropa para dormir</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="lenceria" id="cbNluna27"><label for="lenceria"> Lencería</label><br />
		<br /></div>
		<div class="card-titles"><h3>Para él</h3></div>
		<div class="cbCont">
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="jeans2" id="cbNluna28"><label for="jeans2"> Par de Jeans o pantalones</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="pantalones2" id="cbNluna29"><label for="pantalones2"> Par de pantalones formales</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="saco" id="cbNluna30"><label for="saco"> Chaqueta formal o semiformal</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="camisas2" id="cbNluna31"><label for="camisas2"> Camisas o camisetas</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="shorts2" id="cbNluna32"><label for="shorts2"> Shorts</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="camisaspolo" id="cbNluna33"><label for="camisaspolo"> Camisas tipo polo</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="chaqueta2" id="cbNluna34"><label for="chaqueta2"> Chaqueta sport</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="trajebanio2" id="cbNluna35"><label for="trajebanio2"> Traje de baño</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="tenis2" id="cbNluna36"><label for="tenis2"> Par d zapatos informales</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="zapatos2" id="cbNluna37"><label for="zapatos2"> Par de zapatos formales</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="calcetines2" id="cbNluna38"><label for="calcetines2"> Calcetines</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="interior2" id="cbNluna39"><label for="interior2"> Ropa interior</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="accesorios2" id="cbNluna40"><label for="accesorios2"> Accesorios</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="dormir2" id="cbNluna41"><label for="dormir2"> Ropa para dormir</label><br />
		<br /></div>
		<div class="card-titles"><h3>Otros</h3></div>
		<div class="cbCont">
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="camara" id="cbNluna42"><label for="camara"> Cámara digital</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="docs" id="cbNluna43"><label for="docs"> Documentos (pasaporte visa, otros)</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="cargadores" id="cbNluna44"><label for="cargadores"> Cargadores</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="mapas" id="cbNluna45"><label for="mapas"> Mapas</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="musica" id="cbNluna46"><label for="musica"> Música</label><br />
			<input type="checkbox" class="topcoat-checkbox__checkmark" name="usb" id="cbNluna47"><label for="usb"> USB</label><br />
				<br /></div>
		</form>
	</div>

</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#alerta-aceptar").click(function(){
            var alerta = $("#alerta");
            var alertaIn = $("#alerta-int");
            alerta.fadeToggle(100);
            alertaIn.animate({bottom:"-100px"},300);
          });

		function guardarTodo(){
      for (var i=1; i<=47; i++){
        window.localStorage.setItem("cbNluna"+i+"", $("#cbNluna"+i+"").is(':checked'));
      }

      window.localStorage.setItem("init", 1);
    }
    function alertDismissed (){
      //Do Nothing
    }


		for (var i=1; i<=47; i++){
			gralVar=window.localStorage.getItem("cbNluna"+i+"");
			if((typeof gralVar)!='object'){
	          if(gralVar =='true'){document.getElementById("cbNluna"+i+"").checked=true;}
	          else{document.getElementById("cbNluna"+i+"").checked=false;}
	        }
		}

    var guardarButton = new steroids.buttons.NavigationBarButton();
    guardarButton.title = "Guardar";

    guardarButton.onTap = function (){
      guardarTodo();
      var alerta = $("#alerta");
    var alertaIn = $("#alerta-int");
    alerta.fadeToggle(100);
    alertaIn.animate({bottom:"0px"},300);
    };

    steroids.view.navigationBar.setButtons({
      right: [guardarButton]
  });

	});
</script>
<!-- INICIO Alerta html5 -->
  <div class="alerta center" id="alerta" style="display:none">
    <div class="alerta-int center" id="alerta-int">
      <p>Datos guardados con éxito.</p>
      <button class="alerta-boton" id="alerta-aceptar">Aceptar</button>
    </div>
  </div>
<!-- FIN Alerta html5 -->
