<div class="content-padded fondo">
	<div class="notes-titles center">
      <h2>Notas: Ambientación y más</h2>
    </div>
  <div class="card">
  	<form>
  	<div class="card-titles"><h2>¡Lo que NO debes olvidar!</h2></div>
  	<div class="cbCont">
		<p>No te olvides que aunque los baños no son lo más importante de la fiesta, si son uno de los puntos más visitados. Tenerlos con una excelente presentación y limpieza es la clave. Puedes contemplar poner un pequeño arreglo floral como otro elemento decorativo como canastas.</p><br>
		<p>A continuación  te damos una lista de !lo que no podrá faltarte!</p><br>
	</div>
	<div style="float:left;width:49%">
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="toallas" id="cbNamb1"><label for="toallas">toallas femeninas</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="cepillo" id="cbNamb2"><label for="cepillo">cepillo</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="spray" id="cbNamb3"><label for="spray">spray</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="sal" id="cbNamb4"><label for="sal">sal de uvas</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="crema" id="cbNamb5"><label for="crema">crema de manos</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="enjuague" id="cbNamb6"><label for="enjuague">enjuague bucal</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="chicles" id="cbNamb7"><label for="chicles">chicles</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="tampones" id="cbNamb8"><label for="tampones">tampones</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="pasadores" id="cbNamb9"><label for="pasadores">pasadores</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="lima" id="cbNamb10"><label for="lima">lima de uñas</label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="pepto" id="cbNamb11"><label for="pepto">Pepto bismol</label><br><br>
	</div>
	<div style="float:right;width:49%;clear:right;">
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="gel" id="cbNamb12"> gel antibacterial<label for="gel"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="hilo" id="cbNamb13"> hilo dental<label for="hilo"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="panuelo" id="cbNamb14"> pañuelos desechables<label for="panuelo"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="peine" id="cbNamb15"> peine<label for="peine"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="ligas" id="cbNamb16"> ligas<label for="ligas"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="aspirinas" id="cbNamb17"> aspirinas<label for="aspirinas"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="curitas" id="cbNamb18"> curitas<label for="curitas"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="costurero" id="cbNamb19"> costurero de emergencia<label for="costurero"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="mentitas" id="cbNamb20"> mentitas<label for="mentitas"></label><br>
		<input type="checkbox" class="topcoat-checkbox__checkmark" name="seguritos" id="cbNamb21"> seguritos<label for="seguritos"></label><br><br><br>
	</div>
	<br><br>
	<div class="cbCont">	
	<p>En el baño de los hombres, no olvides también colocar lo mismo que en el de las mujeres pero sin los artículos de higiene femenina (ligas, maquillaje, etc.)</p>
	<p>¡Hasta costurero! A ellos también puede caérseles un botón; lo más probable es que no lo usen, pero el chiste es la cortesía.
	Kit nupcial ¡al rescate!</p><br>
	<p>No se te olvide llevar un kit de emergencia el día que te cases, créelo, siempre se utiliza y te saca de mil apuros…<br />
	¿Qué incluir en el kit? He aquí algunas ideas...</p><br>
	<h4>--Belleza</h4>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="desodorante" id="cbNamb22"> desodorante<label for="desodorante"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="perfume" id="cbNamb23"> perfume<label for="perfume"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="costurero2" id="cbNamb24"> costurero<label for="costurero"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="maquillaje" id="cbNamb25"> set de maquillaje<label for="maquillaje"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="humedas" id="cbNamb26"> toallitas húmedas<label for="humedas"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="hidratante" id="cbNamb27"> crema hidratante<label for="hidratante"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="algodon" id="cbNamb28"> algodón<label for="algodon"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="panuelo2" id="cbNamb29"> pañuelos<label for="panuelo2"></label><br><br>
	<h4>--Salud</h4>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="anti" id="cbNamb30"> antiácidos<label for="anti"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="aspi" id="cbNamb31"> aspirinas<label for="aspi"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="curita" id="cbNamb32"> curitas<label for="curita"></label><br><br>
	<h4>--Extras</h4>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="flats" id="cbNamb33"> flats<label for="flats"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="celular" id="cbNamb34"> celular<label for="celular"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="proveedores" id="cbNamb35"> teléfono de tus proveedores<label for="proveedores"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="lista" id="cbNamb36"> lista de pendientes<label for="lista"></label><br>
	<input type="checkbox" class="topcoat-checkbox__checkmark" name="itinerario" id="cbNamb37"> itinerario completo<label for="itinerario"></label><br>
	</div>
	</form>
  </div>
    
</div>
<script type="text/javascript">
	$(document).ready(function(){
		function guardarTodo(){
      for (var i=1; i<=37; i++){
        window.localStorage.setItem("cbNamb"+i+"", $("#cbNamb"+i+"").is(':checked'));
      }

      window.localStorage.setItem("init", 1);
      alert('Datos almacenados con éxito');
    }


		for (var i=1; i<=37; i++){
			gralVar=window.localStorage.getItem("cbNamb"+i+"");
			if((typeof gralVar)!='object'){
	          if(gralVar =='true'){document.getElementById("cbNamb"+i+"").checked=true;}
	          else{document.getElementById("cbNamb"+i+"").checked=false;}
	        }
		}

    var guardarButton = new steroids.buttons.NavigationBarButton();
    guardarButton.title = "Guardar";

    guardarButton.onTap = function (){
      guardarTodo();
    };

    steroids.view.navigationBar.setButtons({
      right: [guardarButton]
  });
		
	});
</script>

