<div class="content-padded">
	<h1>Luna de Miel</h1>
	<div class="card">
		<h2>Check list – luna de miel</h2>
		<p>Te ayudamos con un checklist en el cual está todo lo que necesitarás llevar a tu luna de miel. Revísala y prepara lo que necesitas llevar con tiempo. Esto te evitará inconvenientes de última hora.</p><br />
		<h3>Indispensable</h3>
		<ol>
			<li>Boletos aéreos o confirmación de boleto electrónico</li>
			<li>Pasaporte con visas requeridas</li>
			<li>Tarjetas de crédito</li>
			<li>Reservación de hoteles con números de confirmación</li>
			<li>Dinero en efectivo</li>
			<li>Tarjeta y datos de tu seguro médico y seguro de viajes</li>
			<li>Números de contacto en el país al que vas.</li>
			<li>Licencia de conducir y documentos de identidad</li>
			<li>Copias de los documentos mencionados anteriormente, por si se te pierden</li>
			<li>Teléfono de tu doctor, y de las compañías de tus tarjetas de crédito (en caso que se te pierdan o te las roben)</li>
			<li>Medicinas que tomas (en empaque original)</li>
			<li>Candados (de preferencia con combinación), y viñetas con nombre para tu equipaje (adentro y arriba)</li>
		</ol>

		<h3>Para ella:</h3>
		<p>(Necesario para una semana, puede variar dependiendo del destino, o la temporada)</p>
		<ol>
			<li>Par de jeans o pantalones</li>
			<li>Chaqueta</li>
			<li>Vestido corto</li>
			<li>Vestido formal negro</li>
			<li>Sweater</li>
			<li>Camisas o camisetas</li>
			<li>Shorts</li>
			<li>Traje de baño</li>
			<li>Par de zapatos informales</li>
			<li>Par de zapatos formales</li>
			<li>Calcetines</li>
			<li>Ropa interior</li>
			<li>Accesorios</li>
			<li>Ropa para dormir</li>
			<li>Lencería</li>
		</ol>
		<h3>Para el</h3>
		<ol>
			<li>Par de Jeans o pantalones</li>
			<li>Par de pantalones formales</li>
			<li>Chaqueta formal o semiformal</li>
			<li>Camisas o camisetas</li>
			<li>Shorts</li>
			<li>Camisas tipo polo</li>
			<li>Chaqueta sport</li>
			<li>Traje de baño</li>
			<li>Par d zapatos informales</li>
			<li>Par de zapatos formales</li>
			<li>Calcetines</li>
			<li>Ropa interior</li>
			<li>Accesorios</li>
			<li>Ropa para dormir</li>
		</ol>
		<h3>Otros</h3>
		<ol>
			<li>Cámara digital</li>
			<li>Documentos (pasaporte visa, otros)</li>
			<li>Cargadores</li>
			<li>Mapas</li>
			<li>Música</li>
			<li>USB</li>
		</ol>
	</div>
    
</div>

