<div class="content-padded fondo">
	<div id="banner">
    <center>
    <div id="texto">
      <h2><span class="black" style="font-size: 26px; margin: 0 auto;" id="dias">Añadir invitado</span></h2>
    </div>
    </center>
  </div>
	<label for="nombre">Nombre</label>
	<input type="text" name="nombre" id="nombre">
	<label for="numero">Numero de personas</label>
	<input type="number" name="numero" id="numero">
	<label class="topcoat-checkbox">
  		<input type="checkbox" id="confirmado" disabled>
  		<div class="topcoat-checkbox__checkmark"></div>
  		Confirmado
	</label>
	<label class="topcoat-checkbox">
  		<input type="checkbox" id="regalo" disabled>
  		<div class="topcoat-checkbox__checkmark"></div>
  		Envió regalo
	</label>
	<label class="topcoat-checkbox">
  		<input type="checkbox" id="tarjeta" disabled>
  		<div class="topcoat-checkbox__checkmark"></div>
  		Tarjeta de agradecimiento
	</label>
	<div class="topcoat-button center" id="add-guest">Guardar invitado</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		if(window.localStorage.getItem("invitados") == null){
			window.localStorage.setItem("invitados", "{\"invitados\":[]}");
		}
		if(steroids.view.params["nombre"] != undefined){
			alert(steroids.view.params["nombre"]);
		}
		$("#add-guest").on("click", function(){
			json_guest = $.parseJSON(window.localStorage.getItem("invitados"));
			invitado = {
				"nombre" : $("#nombre").val(),
				"invitados": $("#numero").val(),
				"confirmado": $("#confirmado").val(),
				"regalo": $("#regalo").val(),
				"tarjeta": $("#tarjeta").val()
			}
			json_guest.invitados.push(invitado);
			window.localStorage.setItem("invitados", JSON.stringify(json_guest));

			webView = new steroids.views.WebView("http://localhost/views/drawerExample/invitados.html");
          	steroids.layers.push(webView); 
		});	
	});
</script>