<div class="content-padded fondo">
  <h1>Proveedores</h1>
    <div class="card">
      <img src="/iconos/icon_ceremonia.jpg"/>
      <h2>Ceremonia Religiosa y Civil</h2>
      <button id="ceremonia" class="topcoat-button b100" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Recepción y Banquetes</h2>
      <button id="recepcion" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Invitaciones</h2>
      <button id="invitaciones" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Música</h2>      
      <button id="musica" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Flores, Decoración y Coordinación</h2>     
      <button id="flores" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Iluminación y mobiliario</h2>  
      <button id="iluminacion" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Foto y video</h2>      
      <button id="foto" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Ambientacion y más</h2>     
      <button id="ambientacion" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>El y ella</h2>      
      <button id="elyella" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Maquillaje, peinado y spa</h2>      
      <button id="mps" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Luna de miel</h2>      
      <button id="luna" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>
    <div class="card">
      <h2>Mesa de regalos y hogar</h2>   
      <button id="mesa" class="btn topcoat-button--large" href="">Mostrar todos</button>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".btn").on("click", function(event){
          switch($(event.target).attr("id")){
            case "ceremonia":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/ceremonia.html");
            break;
            case "recepcion":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/recepcion.html");
            break;
            case "invitaciones":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/invitaciones.html");
            break;
            case "musica":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/musica.html");
            break;
            case "flores":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/flores.html");
            break;
            case "iluminacion":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/iluminacion.html");
            break;
            case "foto":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/foto.html");
            break;
            case "ambientacion":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/ambientacion.html");
            break;
            case "elyella":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/elyella.html");
            break;
            case "mps":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/maquillaje.html");
            break;
            case "luna":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/luna.html");
            break;
            case "mesa":
              var providersView = new steroids.views.WebView("http://localhost/views/provider/mesa.html");
            break;
          }
          steroids.layers.push(providersView);
        });
      });
    </script>
</div>

