<div class="content-padded">
  <h1>Recepción y Banquetes</h1>
  <div class"tarjetas">
  	<h2>Recepción</h2>
  	<p>Si estás organizando los preparativos de tu boda, es básico elegir dónde se celebrará. Puedes escoger desde salones, haciendas o jardines. Pero antes de contratar te aconsejamos analizar las siguientes preguntas clave.</p>
	<h3>Acceso</h3>
	<p>¿Qué tan lejos está de la iglesia?
	¿Es fácil llegar?</p>
	<h3>Ceremonia</h3>
	<p>¿Cuenta con un espacio para celebrar la boda civil?</p>
	<h3>Invitados</h3>
	<p>¿Cuenta con el espacio suficiente? ¿Baños?
	Si es un jardín o hacienda ¿están perfectamente acondicionados los servicios? ¿cuántos hay?</p>
	<h3>Baile</h3>
	<p>¿Cuál es el límite de horario del lugar?
	¿Cuánto te cuesta la hora extra?</p>
	<h3>Exclusividades</h3>
	<p>¿Tiene alguna exclusividad con algún proveedor?</p>
	<h3>Estacionamiento</h3>
	<p>¿Cuenta con un espacio propio?, ¿para cuántos vehículos?
	Si todas las preguntas anteriores responden a tus necesidades, no lo pienses más, es el lugar ideal para la realización de tu boda.</p>

  </div>
  <div class"tarjetas">
  	<h2>Banquetes</h2>
  	<p>Toma en cuenta los siguientes pasos antes de decidir lo que vas a servir en tu banquete.
		<strong>Paso 1:</stong> Decide tu presupuesto: Divide el monto que tienes asignado para el baquete entre el número de invitados, y esto te dará una idea de tu presupuesto por plato.
		<strong>Paso 2:</stong> ¿Cuántos platos quieres que tenga tu banquete? Esto radica directamente sobre tu presupuesto. Puedes elegir entre: canapés, menú de tres tiempos o menú de cuatro tiempos.
		<strong>Paso 3:</stong> Puedes empezar por determinar un plato principal que tenga relación al tema de tu boda, tomando en cuenta su presentación, así como su sabor.
		<strong>Paso 4:</stong> El orden a seguir debe ser de lo más suave a lo más fuerte, para ir adaptando el paladar y poder realzar los distintos sabores.
		<strong>Paso 5:</stong> Te recomendamos un sherbet que puede ser de cualquier fruta, como de limón, y sirve para limpiar el paladar entre cada plato.
		<strong>Paso 6:</stong> Los platillos acompañantes no deberán competir con el plato principal, sino más bien realzar el sabor y presentación.
		<strong>Paso 7:</stong> En cuanto a la decoración de los platos, las tendencias son lo minimalista y jugar con texturas, colores y sabores, creando algo sobrio y armónico.
		<strong>Paso 8:</stong> ¿Quieres servir otros postres? Recuerda que también hay opciones de instalar una mesa de dulces.
		<strong>Paso 9:</stong> Decide sobre las bebidas alcohólicas y no alcohólicas que vas a servir.
	</p>
  </div>
    
</div>

