<div class="content-padded">
	<h1>Mesa de regalos y Hogar</h1>
	<div class="card">
	  	<h2>Mesa de Regalos</h2>
	  	<h3>¡Diviertanse escogiendo!</h3>
		<p>Las mesas de regalos son una excelente oportunidad para conseguir todos aquellos detalles que faltan para poner a punto su nueva casa. Pero prepararla no es tan sencillo como parece. Les ayudamos con un checklist para escoger su mesa de regalos.</p>
	</div>
	<div class="card">
		<h2>Hogar</h2>
		<h3>¿Recien casados? Tu casa ideal</h3>
		<p>Después de varios meses organizando la boda y tras el relax de a merecida luna de miel, la mayoría de lo recién casados se enfrenta a menudo a un problema inesperado, decorar el nuevo hogar.<p>
		<br />
		<p>Para evitar errores al buscar tu nuevo hogar, debes hacer una planeación de os próximos cinco a ocho años; los expertos recomiendan considerar al menos ocho opciones de propiedades antes de tomar una decisión.</p>

	</div>
    
</div>

