<div class="content-padded">
  <h1>Iluminación y mobiliario</h1>
  <div class"tarjetas">
  	<h2>Iluminación</h2>
  	<h3>Buena iluminación para tu boda</h3>
  	<p>La ilumincaición de la recepción es un detalle que no debes pasar por alto, ya que esta será la que resaltará toda la decoración de tu boda. A continuación te compartimos una lista de tips que te serán muy útiles a la hora de elegir la iluminación en tu boda.<br />
<strong>A.</strong>	Contratar un especialista en iluminación. Ellos son profesionales y saben cómo montar y operar la iluminación necesaria para tu recepción.<br />
<strong>B.</strong>	Elige el tipo de luces que le gustaría ver. Luces Pin spot se utilizan para llamar la atención sobre un lugar específico, como un centro de mesa. Las luces de color pueden ser utilizadas para difundir el color que desee en un área grande. Los LEDs son a menudo inalámbricos y utilizan menos energía para funcionar.<br />
<strong>C.</strong>	Recuerda que la iluminación en la pista de baile debe de ir en función a la música que se está tocando. A la hora del vals, puede ser una iluminación romántica con luces bajas y suaves, y al momento del baile más animado usar luces de colores.
<strong>D.</strong>	De ser necesario, pregunta si cuenta con el servicio de planta de luz.
</p>

  </div>
  <div class"tarjetas">
  	<h2>Mobiliario</h2>
  	<h3>Estilo, diseño y color para tu gran evento</h3>
  	<h4>Mesas</h4>
  	<p>Uno de los detalles más importantes del mobiliario son las mesas. Existen diferentes tipos:</p>
  	<ol>
		<li>Mesas redondas. éstas se llevan en eventos clásicos o en lugares pequeños porque son mucho más fáciles de acomodar.</li>
		<li>Mesas cuadradas. Éstas son más modernas y se utilizan para espacios más grandes.</li>
		<li>Mesas imperiales. Son muy amplias y útiles ya que cabe un gran número de personas.</li>
	</ol>
	<h4>Sillas</h4>
	<p>En las sillas existe una gran variedad para tu elección:</p>
	<ul>
		<li>Sillas Versalles: es bueno para eventis tanto en el día como en la noche y dan un toque muy elegante a tu evento.</li>
		<li>Sillas Tiffany: las hay en blanco, plateado, negro, dorado y color chocolate. Es de corte muy elegante y van con cualquier tipo d emantelería.</li>
		<li>Sillas Avant Garde: ideal para eventos de día o en la playa, se puede combinar con cualquier mantelería, debido a que su color combina con todo</li>
		<li>Silla Acojinada: ideal para mesa redonda. Éstas pueden llevar lazos alternados o en todas las sillas y la mantelería superior suele ser blanca y los forros y el cubre mantel del color del lazo.</li>
	</ul>

	<h4>Pistas</h4>
	<p>La pista de baile cada vez se va convirtiendo en un lugar más novedoso, divertido e innovador respecto a la personalización, iluminación y diseño que se le da a este lugar donde va enfocada la diversión.<br />
	Las puedes encontrar con las siguientes características:</p>
	<ul>
		<li>Pistas personalizadas. Sobre estas se pueden agregar una variedad de diseños, desde las inicilaes d elos novios, figuras grométricas o hasta cualquier dieseño que sea de tu agrado.</li>
		<li>Pistas de LED o iluminadas. Este tipo de pista genera diferentes efectos visuales luminosos, logrando ambientar de una manera muy novedosa el área de baile.</li>
		<li>Pista redonda. Este tipo de pista, además de ser muy novedosa, te reduce el espacio.</li>
	</ul>
	<h4>Salas lounge</h4>
	<p>Con las salas lounge puedes crear un mabiente moderno y más divertido, ya que e sun espacio para que tus invitados se sientan más relajados. Es importante agregarles accesorios que combinen para lograr una ambientación perfecta.</p>

  </div>
    
</div>

