<div class="content-padded fondo">
  <h1 class="center pink">Tips y Notas</h1>
    <div class="card">
      <h2 class="center pink">Ceremonia Religiosa y Civil</h2>
      <input id="boda-tips" class="topcoat-button" type="button" value="Tips">
      <input id="boda-notas" class="topcoat-button" type="button" value="Notas">
    </div>
    <div class="card">
      <h2 class="center pink">Recepción y Banquetes</h2>
      <input id="recepcion" class="topcoat-button" type="button" value="Tips">
      <input id="recep-notas" class="topcoat-button" type="button" value="Notas">
    </div>
    <div class="card">
      <h2 class="center pink">Invitaciones</h2>
      <input id="invitaciones" class="topcoat-button" type="button" value="Tips">
    </div>
    <div class="card">
      <h2 class="center pink">Música</h2>
      <input id="musica" class="topcoat-button" type="button" value="Tips">
      <input id="music-notas" class="topcoat-button" type="button" value="Notas">
    </div>
    <div class="card">
      <h2 class="center pink">Flores, Decoración y Coordinación</h2>
      <input id="flores" class="topcoat-button" type="button" value="Tips">
    </div>
    <div class="card">
      <h2 class="center pink">Iluminación y mobiliario</h2>
      <input id="iluminacion" class="topcoat-button" type="button" value="Tips">
    </div>
    <div class="card">
      <h2 class="center pink">Foto y video</h2>
      <input id="foto" class="topcoat-button" type="button" value="Tips">
    </div>
    <div class="card">
      <h2 class="center pink">Ambientacion y más</h2>
      <input id="ambientacion" class="topcoat-button" type="button" value="Tips">
      <input id="ambien-notas" class="topcoat-button" type="button" value="Notas">
    </div>
    <div class="card">
      <h2 class="center pink">El y ella</h2>
      <input id="elyella" class="topcoat-button" type="button" value="Tips">
    </div>
    <div class="card">
      <h2 class="center pink">Maquillaje, peinado y spa</h2>
      <input id="maquillaje" class="topcoat-button" type="button" value="Tips">
    </div>
    <div class="card">
      <h2 class="center pink">Luna de miel</h2>
      <input id="luna" class="topcoat-button" type="button" value="Tips">
      <input id="luna-notas" class="topcoat-button" type="button" value="Notas">
    </div>
    <div class="card">
      <h2 class="center pink">Mesa de regalos y hogar</h2>
      <input id="regalos" class="topcoat-button" type="button" value="Tips">
    </div>
</div>
<script type="text/javascript">
  //TIPS VIEWS
  var bodaTipsView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-boda-civil.html");
  var recepView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-recepcion-banquetes.html");
  var invitView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-invitaciones.html");
  var musicView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-musica.html");
  var floresView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-flores.html");
  var ilumiView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-iluminacion.html");
  var fotoView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-foto.html");
  var ambienView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-ambientacion.html");
  var elyellaView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-el-ella.html");
  var maquiView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-maquillaje.html");
  var lunaView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-luna.html");
  var regalosView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-regalos.html");

  //NOTAS VIEWS
  var bodaNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-boda-civil.html");
  var recepNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-recepcion-banquetes.html");
  var musicNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-musica.html");
  var ambienNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-ambientacion.html");
  var lunaNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-luna.html");


  //ON CLICK FUNCTIONS

  $(document).ready(function(){
    //TIPS
    $("#boda-tips").on("click",function(){
      steroids.layers.push(bodaTipsView);
    });
    $("#recepcion").on("click", function(){
      steroids.layers.push(recepView);
    });
    $("#invitaciones").on("click", function(){
      steroids.layers.push(invitView);
    });
    $("#musica").on("click",function(){
      steroids.layers.push(musicView);
    });
    $("#flores").on("click", function(){
      steroids.layers.push(floresView);
    });
    $("#iluminacion").on("click", function(){
      steroids.layers.push(ilumiView);
    });
    $("#foto").on("click",function(){
      steroids.layers.push(fotoView);
    });
    $("#ambientacion").on("click", function(){
      steroids.layers.push(ambienView);
    });
    $("#elyella").on("click",function(){
      steroids.layers.push(elyellaView);
    });
    $("#maquillaje").on("click", function(){
      steroids.layers.push(maquiView);
    });
    $("#luna").on("click",function(){
      steroids.layers.push(lunaView);
    });
    $("#regalos").on("click", function(){
      steroids.layers.push(regalosView);
    });
    //NOTAS
    $("#boda-notas").on("click",function(){
      steroids.layers.push(bodaNotasView);
    });
    $("#recep-notas").on("click", function(){
      steroids.layers.push(recepNotasView);
    });
    $("#music-notas").on("click",function(){
      steroids.layers.push(musicNotasView);
    });
    $("#ambien-notas").on("click", function(){
      steroids.layers.push(ambienNotasView);
    });
    $("#luna-notas").on("click",function(){
      steroids.layers.push(lunaNotasView);
    });
  });
</script>

