<div class="content-padded">
	<h1>Luna de Miel</h1>
	<div class="card">
	  	<h2>¡A disfrutar!</h2>
		<p>Al terminar la boda, la fiesta y el es estrés, los recién casados parten a ese lugar especial que será el destino de su luna de miel, probablemente es el mejor viaje de su vida. Será un destino en el que podrán descansar, relajarse y disfrutar el uno del otro.</p><br />
		<h3>¿A dónde vamos?</h3>
		<p>Elegir el destino de una luna de miel puede ser más complicado de lo que se cree. Se tiene que seguir algunos pasos para elegir el destino perfecto</p><br />
		<h3>¿Frío o calor?</h3>
		<p>Uno d elos primeros puntos a tratar debe ser el clima del lugar al que se quiera ir.</p><br />
		<p>Un lugar frío implicará nieve, cabañas y chimeneas. Las actividades que s epueden realizar van desde esquiar hasta caminatas en la nieve.</p><br />
		<p>Un lugar con clima cálido, por otro lado, puede ser también un excelente decisión. Las playas paradisíacas, la arena, el sol y el olor a sal son sin duda detalles que llenan el ambiente de romance.</p><br />
		<p>Las agencias de viajes cuentan con paquetes de luna de miel que incluyen los vuelos, hospedaje y paseos.</p><br />
		<p>Al acudir a una agencia par aplanear su luna de miel, el agente se encargará de escuchar lo que los novios buscan y propondrá los mejores destinos.</p><br />
		<p>Al ser lugares especializados en planificación de viajes, las agencias brindan una garantía de calidad.</p>
	</div>
    
</div>

