<div class="content-padded fondo">
  <h1 class="center pink">Flores, decoración y coordinación</h1>

	<div class="card">
		<h2 class="center pink">Flores</h2>
		<h3>Consejos para controlar el presupuesto de las flores</h3>
		Con ideas originales puedes encontrar la forma de ahorrarte mucho en la decoración de tus centros de mesa y otros arreglos florales.<br>
		<h4>1. ¿Cuál es tu estilo?</h4>
		¿Te imaginas arreglos florales muy tradicionales o elaborados?, ¿quieres algo minimalista?, ¿algo original?, ¿quieres las flores de un solo color?, ¿multicolores?, ¿exóticas o románticas?<br>
		<h4>2. Escoge los colores de tu boda. </h4>
		Hay flores muy lindas, pero tienes que asegurarte que estén de acuerdo con los colores que estas usando para tu boda. eSto permitirá que todo esté coordinado el día de tu evento.<br>
		<h4>3. En la iglesia.</h4>
		Muchas iglesias permanecen con arreglos florales todo el año, averigüa si tendrán decoración para la fecha de tu boda. También pregunta si habrá otro evento el mismo día, pues de ser así puedes ponerte de acuerdo con ellos para compartir los gastos de la decoración. Tip: si te casas en época de cuaresma recuerda que la iglesia no puede ser decorada.<br>
		<h4>4. Toma en cuenta el lugar de la recepción.</h4>
		Si vas a tener la recepción al aire libre o en un jardín, puedes utilizar plantas y decoración que ya esté en el lugar.<br>
		<h4>5. Los espejos puede agregarle impacto.</h4>
		Muchas florerías o alquileres de artículos de decoración, te podrán proporcionar espejos redondos o cuadrados que puedes poner debajo de tus arreglos florales o centros de mesa, para que estos parezcan más grandes. Además si usas velas, esto le dará un ambiente muy romántico.
		<br>
		<h4>6. Considera la temporada.</h4>
		Pregunta en la florería o a tu decorador cuales son las flores  de la temporada en que te vas a casar, ya que así los costos se reducirán considerablemente.<br>
		<h4>7. En la variedad está el gusto.</h4>
		Puedes usar dos o tres diferentes  centros de mesa pequeños, para agregarle interés a la mesa. No todas las mesas tienen que ser iguales, pueden variar en tonos de los colores, procurando que estos siempre combinen.
		<br>
		<h4>8. No olvides pedir el ramo que vas a tirar en la recepción.</h4>
		Este puede ser igual a tu bouquet, o puede ser una versión más sencilla y pequeña.<br>
		<h4>9. Utiliza follaje.</h4>
		Pregúntale a tu florista si puede reducir los costos al poner menos flores y agregar follaje a los arreglos. Generalmente ellos te cobran por la cantidad de flores utilizadas para hacer los arreglos.<br>
	</div>

  <div class="card">
  <h2 class="center pink">Decoración</h2>
		Entre todas las posibilidades para decorar tu boda, hay miles de cosas importantes que debes tener en cuenta, ya que muchas veces podemos crear efectos increíbles sin muchas complicaciones.<br>
		<ol>
			<li>Los techos altos permiten colgar elementos que llenan la decoración y la complementan; en caso de ser así entonces utiliza arreglos bajitos.</li>
			<li>En los accesorios decorativos como la mantelería, recuerdos, detalles, está de moda resaltar los colores. Los platos son un elemento importante, compleméntalos con una servilleta que contraste.</li>
			<li>Al momento de escoger la mantelería, tienes que pensar si tu evento es de día o de noche, ya que existen diversas telas, texturas, colores lisos, estampados, deshilados, así como accesorios para poner a tono tu mesa, como las servilletas, las fundas de las sillas, etc.</li>
			<li>Las tendencias actuales han abierto el abanico a las decoraciones de boda temáticas y de cualquier tipo imaginable, también es cierto que muchas veces la sobriedad y sencillez son nuestras mejores aliadas.</li>
			<li>Los detalles originales son indudablemente los más recordados por los invitados.</li>
			<li>La iluminación le da a tu evento un toque moderno. Para generar diferentes espacios y ambientes, te recomendamos la utilización de candelabros, lámparas orientales, mesas iluminadas, antorchas, centros de mesa con velas, etc…</li>
			<li>Las flores sumergidas en agua e iluminadas con velas son un toque muy suave y minimalista. Si quieres multiplicar el efecto, combina envases de diferentes alturas.</li>
			<li>Recuerda que el concepto de decoración debe ir acorde a todo tu evento integrando las mesas, flores, decoración del lugar, el tipo de platillo que piensas servir en tu evento, etc…</li>
		</ol>
	</div>

	<div class="card">
		<h2 class="center pink">Coordinación</h2>
		<h3>La importancia de un Wedding Planner</h3>
		Los Wedding Planners son organizadores de eventos especializados en bodas y conocen a todos los proveedores involucrados en el tema. Son personas que están al tanto d elas últimas tendencias y de detalles originales que podrás incluir en tu boda para sorprender a tus ivitados.<br>
		La mayoría de los Wedding Planners trabajan con proveedores aliados, y te darás cueta que tener un Wedding Planner no es un lujo ni un gasto adicional, ya que al contar con este servicio esto se traduce en ahorro de tiempo y de dinero, tu no tendrás que preocuparte por nada ya que ellos negociarán los mejores precios para ti.<br>
		Existen distintos tipos de servicios que ofrecen los Wedding Planers, desde un servicio completo donde los novios aún no tienen proveedor y ellos se encargan de la elección de todos los proveedores. Hasta un servicio de coordinación del día del evento, donde recabará la información acerca de todos los proceedores involucrados y de la estructura de la fiesta y ellos serán los responsables de coordinar todo el día de tu boda.
		En definitiva, un Wedding Planner puede encargarse de muchas cosas que de otro modo a ti te implicaría una inversión de mucho tiempo.<br>
	</div>

</div>