<div class="content-padded fondo">
	<div class="tips-titles center">
		<h2>Ambientación y más</h2>
	</div>
  
  <div class="card">
  	<h2>Los detalles le dan personalidad</h2>
	<p>Los detalles hacen la boda y le dan personalidad, estos deben ir de acuerdo al tema que escogiste. Ten muy  en cuenta que estos van desde las servilletas hasta el más mínimo alfiler que uses. Por eso te damos algunos tips que están muy de moda para tu gran día.<br />
	Conforme van pasando las horas y al calor del baile los tacones van perdiendo su encanto; el recurso ideal son las sandalias y pantuflas.<br />
	Escoge cómo se divertirán tus invitados usando diferentes artículos de animación durante la fiesta, además de crear un gran ambiente, tendrás divertidas fotografías para recordar.<br />
	Las bebidas son importantes para la ambientación del evento, dales un lugar especial con esta tendencia de los carritos de shots.<br />
	La mesa de dulces para tu boda es la tendencia del momento. La mayor parte de los invitados tiene una debilidad por todos los tipos de dulces, de hecho con el tiempo se han convertido en una tradición muy especial en las bodas.<br />
	Date la posibilidad de utilizar fuegos artificiales para impresionar a tus invitados.</p>
	<h3>Lo que no puedes olvidar</h3>
	<ul>
	<li>No te olvides que aunque los baños no son lo más importante de la fiesta, si son uno de los puntos más visitados. Tenerlos con una excelente presentación y limpieza es la clave. Puedes contemplar poner un pequeño arreglo floral como otro elemento decorativo.</li>
	<li>En el baño de los hombres, no olvides también colocar lo mismo que en el de las mujeres pero sin los artículos de higiene femenina (ligas, maquillaje, etc.)</li>
	<li>¡Hasta costurero! A ellos también puede caérseles un botón; lo más probable es que no lo usen, pero el chiste es la cortesía.
	Kit nupcial ¡al rescate!</li>
	<p>No se te olvide llevar un kit de emergencia el día que te cases, créelo, siempre se utiliza y te saca de mil apuros…<br />
	¿Qué incluir en el kit? He aquí algunas ideas (???)</p>

  </div>
    
</div>

