<div class="content-padded fondo">
  <div id="banner">
    <center>
    <div id="texto">
      <h2><span class="black" style="font-size: 26px; margin: 0 auto;" id="dias">Tips y Notas</span></h2>
    </div>
    </center>
  </div>

    <div class="card">
      <div class="card-titles center"><h2>Ceremonia Religiosa y Civil</h2></div>
      <div class="cbCont center">
      <div id="boda-tips" class="topcoat-button b50" type="button" value="Tips">Tips</div>
      <div id="boda-notas" class="topcoat-button b50" type="button" value="Notas">Notas</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Recepción y Banquetes</h2></div>
      <div class="cbCont center">
      <div id="recepcion" class="topcoat-button b50" type="button" value="Tips">Tips</div>
      <div id="recep-notas" class="topcoat-button b50" type="button" value="Notas">Notas</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Invitaciones</h2></div>
      <div class="cbCont center">
      <div id="invitaciones" class="topcoat-button b100" type="button" value="Tips">Tips</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Música</h2></div>
      <div class="cbCont center">
      <div id="musica" class="topcoat-button b50" type="button" value="Tips">Tips</div>
      <div id="music-notas" class="topcoat-button b50" type="button" value="Notas">Notas</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Flores, Decoración y Coordinación</h2></div>
      <div class="cbCont center">
      <div id="flores" class="topcoat-button b100" type="button" value="Tips">Tips</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Iluminación y mobiliario</h2></div>
      <div class="cbCont center">
      <div id="iluminacion" class="topcoat-button b100" type="button" value="Tips">Tips</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Foto y video</h2></div>
      <div class="cbCont center">
      <div id="foto" class="topcoat-button b100" type="button" value="Tips">Tips</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Ambientacion y más</h2></div>
      <div class="cbCont center">
      <div id="ambientacion" class="topcoat-button b50" type="button" value="Tips">Tips</div>
      <div id="ambien-notas" class="topcoat-button b50" type="button" value="Notas">Notas</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>El y ella</h2></div>
      <div class="cbCont center">
      <div id="elyella" class="topcoat-button b100" type="button" value="Tips">Tips</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Maquillaje, peinado y spa</h2></div>
      <div class="cbCont center">
      <div id="maquillaje" class="topcoat-button b100" type="button" value="Tips">Tips</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Luna de miel</h2></div>
      <div class="cbCont center">
      <div id="luna" class="topcoat-button b50" type="button" value="Tips">Tips</div>
      <div id="luna-notas" class="topcoat-button b50" type="button" value="Notas">Notas</div>
      </div>
    </div>
    <div class="card">
      <div class="card-titles center"><h2>Mesa de regalos y hogar</h2></div>
      <div class="cbCont center">
      <div id="regalos" class="topcoat-button b100" type="button" value="Tips">Tips</div>
      </div>
    </div>
</div>
<script type="text/javascript">
  //TIPS VIEWS
  var bodaTipsView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-boda-civil.html");
  var recepView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-recepcion-banquetes.html");
  var invitView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-invitaciones.html");
  var musicView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-musica.html");
  var floresView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-flores.html");
  var ilumiView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-iluminacion.html");
  var fotoView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-foto.html");
  var ambienView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-ambientacion.html");
  var elyellaView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-el-ella.html");
  var maquiView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-maquillaje.html");
  var lunaView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-luna.html");
  var regalosView = new steroids.views.WebView("http://localhost/views/drawerExample/tips-regalos.html");

  //NOTAS VIEWS
  var bodaNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-boda-civil.html");
  var recepNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-recepcion-banquetes.html");
  var musicNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-musica.html");
  var ambienNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-ambientacion.html");
  var lunaNotasView = new steroids.views.WebView("http://localhost/views/drawerExample/notas-luna.html");


  //ON CLICK FUNCTIONS

  $(document).ready(function(){

    //TIPS
    $("#boda-tips").on("click",function(){
      steroids.layers.push(bodaTipsView);
    });
    $("#recepcion").on("click", function(){
      steroids.layers.push(recepView);
    });
    $("#invitaciones").on("click", function(){
      steroids.layers.push(invitView);
    });
    $("#musica").on("click",function(){
      steroids.layers.push(musicView);
    });
    $("#flores").on("click", function(){
      steroids.layers.push(floresView);
    });
    $("#iluminacion").on("click", function(){
      steroids.layers.push(ilumiView);
    });
    $("#foto").on("click",function(){
      steroids.layers.push(fotoView);
    });
    $("#ambientacion").on("click", function(){
      steroids.layers.push(ambienView);
    });
    $("#elyella").on("click",function(){
      steroids.layers.push(elyellaView);
    });
    $("#maquillaje").on("click", function(){
      steroids.layers.push(maquiView);
    });
    $("#luna").on("click",function(){
      steroids.layers.push(lunaView);
    });
    $("#regalos").on("click", function(){
      steroids.layers.push(regalosView);
    });
    //NOTAS
    $("#boda-notas").on("click",function(){
      steroids.layers.push(bodaNotasView);
    });
    $("#recep-notas").on("click", function(){
      steroids.layers.push(recepNotasView);
    });
    $("#music-notas").on("click",function(){
      steroids.layers.push(musicNotasView);
    });
    $("#ambien-notas").on("click", function(){
      steroids.layers.push(ambienNotasView);
    });
    $("#luna-notas").on("click",function(){
      steroids.layers.push(lunaNotasView);
    });



  });
</script>

