<div ng-app="providerApp" class="content-padded fondo">
<div class="notes-titles center">
      <h2>Luna de Miel</h2>
    </div>
  <div class="card" ng-controller="LunaCtrl">
    <div class="topcoat-list__container">
    <div class="topcoat-list__container">
      <ul class="topcoat-list">
        <li class="topcoat-list__item center special-list" hm-tap="open(provider.id)" ng-repeat="provider in providers">
          <img src="{{provider.logo}}" style="width:100%">
          <h1>{{ provider.title }}</h1>
        </li>
      </ul>

    </div>

  </div>

</div>