<div ng-app="providerApp" class="content-padded fondo">

  <div ng-controller="ShowCtrl">
    <div class="tips-titles center">
      <h1>{{ provider.title }}</h1>
    </div>
    <div class="card">
      <img style="width:100%" src="{{ provider.fotos }}" class="provider-logo"/><br />
      <p>{{ provider.direccion }}</p>
      <p>Tel. {{ provider.phone }}</p>
      <p>{{ provider.website }}</p>

      <div class="cbCont">
        <div class="cbSingle">
            <a class="topcoat-icon-button provs-btn-first" ng-show="provider.facebook != ''" id="facebook-btn" ng-href="{{provider.facebook}}">
              <span class="topcoat-icon" id="facebook-btn-int"></span>
            </a>
            <a class="topcoat-icon-button provs-btn" ng-show="provider.usuario != ''" id="twitter-btn" ng-href="{{provider.usuario}}">
              <span class="topcoat-icon" id="twitter-btn-int"></span>
            </a>
            <a class="topcoat-icon-button provs-btn" ng-show="provider.phone != ''" id="phone-btn" ng-href="tel:{{provider.phone}}">
              <span class="topcoat-icon" id="phone-btn-int"></span>
            </a>
            <a class="topcoat-icon-button provs-btn" ng-show="provider.email != ''" id="mail-btn" ng-href="mailto:{{provider.email}}">
              <span class="topcoat-icon" id="mail-btn-int"></span>
            </a>
            <a class="topcoat-icon-button provs-btn-last" id="fav-btn" hm-tap="providersService.addProvider(provider.id)">
              <span class="topcoat-icon" id="fav-btn-int"></span>
            </a>
        </div>
      </div>
    </div>
  </div>

</div>