<div class="content-padded fondo" ng-app="myprovidersApp" ng-controller="NewIluminacionCtrl">
	<div class="tips-titles center"><h2>Añadir proveedor</h2></div>
	<div class="card">
		<h3>Iluminación</h3>
		<!-- <input ng-model="newMyProvider.id" type="text" class="topcoat-text-input" name="id" id="id" text="{{jsonindexF}}" disabled> -->
		<!-- <input ng-model="newMyProvider.propio" type="text" class="topcoat-text-input" name="propio" id="propio" text="Proveedor Propio" disabled> -->
		<!-- <input ng-model="newMyProvider.editar" type="text" class="topcoat-text-input" name="editar" id="editar" text="Editar">Editar</div> disabled> -->
		<label for="title">Nombre</label><br/>
		<input ng-model="newMyProvider.title" type="text" name="title" id="title" class="topcoat-text-input"><br/>
		<label for="direccion">Dirección</label><br>
		<input ng-model="newMyProvider.direccion" type="text" class="topcoat-text-input" name="direccion" id="direccion"><br>
		<label for="numero">Numero de telefono</label><br/>
		<input ng-model="newMyProvider.phone"  type="tel" name="phone" class="topcoat-text-input" id="phone" placeholder="Teléfono 1"><br/>
		<input ng-model="newMyProvider.phone2" type="tel" name="phone2" class="topcoat-text-input" id="phone2" placeholder="Teléfono 2"><br>
		<label for="email">Email</label><br>
        <input ng-model="newMyProvider.email" type="email" class="topcoat-text-input" name="email" id="email"><br>
        <div class="cbCont center">
			<div class="topcoat-button b50" hm-tap="miProveedorServ.addMiProveedor('iluminacion', newMyProvider); newMyProvider = {}; miProveedorServ.returnToList();">Guardar</div>
		</div>
	</div>
</div>
