<div ng-app="invitadosApp" class="content-padded fondo">
    <div id="banner">
      <center>
      <div id="texto">
        <h2><span class="black" style="font-size: 26px; margin: 0 auto;" id="dias">Invitados</span></h2>
      </div>
      </center>
    </div>
    <div ng-controller="IndexCtrl">
      <div class="card">
        <label id="costo-total" style="font-size:1.5em">Total invitados: 0</label>
      </div>

      <div class="topcoat-list card" id="contenedor-invitados">
        <ul class="topcoat-list__container contenedor_especial" id="lista-invitados">
          <li class="topcoat-list__item special-list" hm-tap="open($index)" ng-repeat="invitado in invitados">
            <h3>{{ invitado.nombre }}</h3>
            <label>Personas: {{ invitado.invitados }}</label><br>
            <input ng-model="invitado.confirmado" type="checkbox" class="topcoat-checkbox__checkmark" name="confirmado" id="confirmado" disabled><label for="confirmado">Confirmado</label><br>
            <input ng-model="invitado.regalo" type="checkbox" class="topcoat-checkbox__checkmark" name="regalo" id="regalo" disabled><label for="regalo">Envió Regalo</label><br>
            <input ng-model="invitado.tarjeta" type="checkbox" class="topcoat-checkbox__checkmark" name="tarjeta" id="tarjeta" disabled><label for="tarjeta">Tarjeta de agradecimiento</label><br>
          </li>
        </ul>
      </div>
      <!--div class="topcoat-button" id="add-guest" hm-tap="new()">Nuevo invitado</div-->
    </div>
    <script type="text/javascript">
    steroids.drawers.hideAll();
    var googleView = new steroids.views.WebView( { id:9, location: "http://localhost/views/drawerExample/drawer.html" } );
    var drawerIsOpen = false;

      googleView.preload({},{
         onSuccess: initGesture  // When the view has loaded, enable finger tracking
        }
      );

    document.addEventListener("visibilitychange", onVisibilityChange, false);

    function onVisibilityChange() {
        if(document.hidden==false){
          window.location.reload();
          steroids.drawers.enableGesture(googleView);
        }
        if(document.hidden==true){
          steroids.drawers.hideAll();
          steroids.drawers.disableGesture(googleView);
        }
    }
  //Navigation Bar--
      var imageButton = new steroids.buttons.NavigationBarButton();
      var imageButton2 = new steroids.buttons.NavigationBarButton();
      var adduserButton = new steroids.buttons.NavigationBarButton();

      function initGesture() {
        steroids.drawers.enableGesture(googleView);
      }

      //--DRAWER

      imageButton.imagePath = "/icons/drawer.png"
      imageButton2.imagePath = "/icons/drawer.png"
      adduserButton.imagePath = "/icons/adduser.png"

      imageButton.onTap = function() {
        if(drawerIsOpen==false){
          steroids.drawers.show(googleView);
          steroids.view.navigationBar.setButtons({
          left: [imageButton2],
          right: [adduserButton],
          overrideBackButton: true
        });
          steroids.drawers.disableGesture(googleView);
          drawerIsOpen=true;
        }
      }
      imageButton2.onTap = function() {
        if(drawerIsOpen==true){
          steroids.drawers.hide(googleView);
        steroids.view.navigationBar.setButtons({
          left: [imageButton],
          right: [adduserButton],
          overrideBackButton: true
        });
          steroids.drawers.enableGesture(googleView);
          drawerIsOpen=false;
        }
      }
      adduserButton.onTap = function (){
        webView = new steroids.views.WebView("/views/invitados/new.html");
      steroids.layers.push(webView);
      };

      steroids.view.navigationBar.setButtons({
        left: [imageButton],
        right: [adduserButton],
        overrideBackButton: true
      });

    //--Navigation Bar

    $(document).ready(function(){
      if(typeof window.localStorage.getItem("invitnum")!='object'){
        $('#costo-total').html("Total invitados: "+window.localStorage.getItem("invitnum"));
      }
      if($('#costo-total').html()== "Total invitados: 0"){
        $("#contenedor-invitados").append("<p>No hay Invitados, puedes agregar uno tocando el botón en la esquina superior derecha.</p>");
      }

    });
    </script>
</div>