<div class="content-padded fondo" ng-app="invitadosApp" ng-controller="NewCtrl">
	<div class="tips-titles center"><h2>Añadir invitado</h2></div>
	<div class="card">
		<label for="nombre">Nombre</label><br/>
		<input ng-model="newGuest.nombre" type="text" name="nombre" id="nombre" class="topcoat-text-input"><br/>
		<label for="numero">Numero de personas</label><br/>
		<input ng-model="newGuest.invitados"  type="tel" name="numero" class="topcoat-text-input" id="numero" value="1"><br/>
		<input ng-model="newGuest.confirmado" type="checkbox" class="topcoat-checkbox__checkmark" name="confirmado" id="confirmado"><label for="confirmado">Confirmado</label><br>
        <input ng-model="newGuest.regalo" type="checkbox" class="topcoat-checkbox__checkmark" name="regalo" id="regalo"><label for="regalo">Envió Regalo</label><br>
        <input ng-model="newGuest.tarjeta" type="checkbox" class="topcoat-checkbox__checkmark" name="tarjeta" id="tarjeta"><label for="tarjeta">Tarjeta de agradecimiento</label><br>
        <div class="cbCont center">
        	<div class="topcoat-button b100" id="save-btn" hm-tap="invitadoServ.addInvitado(newGuest); newGuest = {}; returnToList();">Guardar</div>
        </div>
	</div>
</div>
