<div class="content-padded" ng-app="invitadosApp" ng-controller="NewCtrl">
	<h1>Añadir invitado</h1>
	<label for="nombre">Nombre</label><br/>
	<input ng-model="newGuest.nombre" type="text" name="nombre" id="nombre" class="topcoat-text-input"><br/>
	<label for="numero">Numero de personas</label><br/>
	<input ng-model="newGuest.invitados"  type="number" name="numero" class="topcoat-text-input" id="numero"><br/>
	<label class="topcoat-checkbox">
  		<input ng-model="newGuest.confirmado" type="checkbox" id="confirmado">
  		<div class="topcoat-checkbox__checkmark"></div>
  		Confirmado
	</label><br/>
	<label class="topcoat-checkbox">
  		<input ng-model="newGuest.regalo" type="checkbox" id="regalo">
  		<div class="topcoat-checkbox__checkmark"></div>
  		Envió regalo
	</label><br/>
	<label class="topcoat-checkbox">
  		<input ng-model="newGuest.tarjeta" type="checkbox" id="tarjeta">
  		<div class="topcoat-checkbox__checkmark"></div>
  		Tarjeta de agradecimiento
	</label><br/>
	<div class="topcoat-button" hm-tap="invitadoServ.addInvitado(newGuest); newGuest = {}; returnToList();">Guardar invitado</div>
</div>
