<div class="content-padded fondo" ng-app="invitadosApp" ng-controller="ShowCtrl">
	<div class="notes-titles center">
      <h2>{{invitado.nombre}}</h2>
    </div>
	<div class="card">
		<!-- INICIO Alerta html5 -->
    <div class="alerta center" id="alerta" style="display:none">
    	<div class="alerta-int center" id="alerta-int">
    	  	<p>¿Segura que quieres eliminar este invitado?</p>
      		<button class="alerta-boton last-alerta" id="alerta-eliminar" hm-tap="invitadoServ.removeInvitado(index); returnToList();">Eliminar</button>
      		<button class="alerta-boton-cancelar" id="alerta-cancelar">Cancelar</button>
    	</div>
  	</div>
<!-- FIN Alerta html5 -->
		<label for="nombre">Nombre</label><br/>
		<input ng-model="newGuest.nombre" type="text" name="nombre" id="nombre" class="topcoat-text-input"><br/>
		<label for="numero">Numero de personas</label><br/>
		<input ng-model="newGuest.invitados"  type="tel" name="numero" class="topcoat-text-input" id="numero"><br/>

		<input ng-model="newGuest.confirmado" type="checkbox" class="topcoat-checkbox__checkmark" name="confirmado" id="confirmado"><label for="confirmado">Confirmado</label><br>
        <input ng-model="newGuest.regalo" type="checkbox" class="topcoat-checkbox__checkmark" name="regalo" id="regalo"><label for="regalo">Envió Regalo</label><br>
        <input ng-model="newGuest.tarjeta" type="checkbox" class="topcoat-checkbox__checkmark" name="tarjeta" id="tarjeta"><label for="tarjeta">Tarjeta de agradecimiento</label><br><br>
        
        <button class="topcoat-button b50" id="save-btn" hm-tap="invitadoServ.updateInvitado(index, newGuest); newGuest = {}; returnToList();">Guardar</button>
		<button class="topcoat-button b50" id="boton-eliminar">Eliminar</button>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		
		$('#boton-eliminar').on("click", function(){
			var alerta = $("#alerta");
		    var alertaIn = $("#alerta-int");
		    alerta.fadeToggle(100);
		    alertaIn.animate({bottom:"0px"},300);
		});

		$('#alerta-cancelar').on("click", function(){
			var alerta = $("#alerta");
		    var alertaIn = $("#alerta-int");
		    alerta.fadeToggle(100);
		    alertaIn.animate({bottom:"-100px"},300);
		});

	});
</script>