<div class="content-padded fondo" ng-app="invitadosApp" ng-controller="ShowCtrl">
	<div class="notes-titles center">
      <h2>{{invitado.nombre}}</h2>
    </div>
	<div class="card">
		<label for="nombre">Nombre</label><br/>
		<input ng-model="newGuest.nombre" type="text" name="nombre" id="nombre" class="topcoat-text-input"><br/>
		<label for="numero">Numero de personas</label><br/>
		<input ng-model="newGuest.invitados"  type="number" name="numero" class="topcoat-text-input" id="numero"><br/>

		<input ng-model="newGuest.confirmado" type="checkbox" class="topcoat-checkbox__checkmark" name="confirmado" id="confirmado"><label for="confirmado">Confirmado</label><br>
        <input ng-model="newGuest.regalo" type="checkbox" class="topcoat-checkbox__checkmark" name="regalo" id="regalo"><label for="regalo">Envió Regalo</label><br>
        <input ng-model="newGuest.tarjeta" type="checkbox" class="topcoat-checkbox__checkmark" name="tarjeta" id="tarjeta"><label for="tarjeta">Tarjeta de agradecimiento</label><br>
        
        <div class="topcoat-button" hm-tap="invitadoServ.updateInvitado(index, newGuest); newGuest = {}; returnToList();">Guardar</div>
		<div class="topcoat-button" hm-tap="invitadoServ.removeInvitado(index); returnToList();">Eliminar</div>
	</div>
</div>
